/*--------------------
       BASICS
--------------------*/

html, body {
  height: 100%; /* enable vh units */
}
body {
  color: #333;
  font: normal 16px/1.2 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  min-width: 320px;
}

/*-- Cursor --*/

a, 
input[type=button], 
input[type=submit], 
button { 
  cursor: pointer; 
}

/*-- Forms --*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
select option,
textarea {
  font-size: 16px; /* for iOS to prevent autozoom */
}

/*-- Helpers --*/

.opacity-half {
  opacity: .5;
}
