<h1 class="text-center">{{pageTitle}}</h1>

<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="isLoaded">
  <ng-template [ngIf]="event">
    <!-- Event form -->
    <app-event-form [event]="event"></app-event-form>

    <!-- Delete event -->
    <div class="delete-event">
      <h2 class="text-center">Delete Event</h2>
      <p class="lead">
        Deleting an event will also remove all associated RSVPs. Please delete with care!
      </p>

      <div class="form-group">
        <label for="deleteEvent">Confirm event title:</label>
        <input
          type="text"
          id="deleteEvent"
          class="form-control"
          name="deleteEvent"
          #deleteEvent="ngModel"
          [(ngModel)]="confirmDelete">
      </div>

      <!-- Error deleting event -->
      <p *ngIf="deleteErr" class="alert alert-danger">
        <strong>Oops!</strong> There was an error deleting this event. Please try again.
      </p>

      <p>
        <button
          class="btn btn-danger"
          (click)="removeEvent()"
          [disabled]="confirmDelete !== event.title || submitting">Delete Event</button>
        <app-submitting *ngIf="submitting"></app-submitting>
      </p>
    </div>

  </ng-template>

  <!-- Error loading event -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> Event data could not be retrieved. View <a routerLink="/admin" class="alert-link">Admin Events</a>.
  </p>
</ng-template>
