<h1 class="text-center">{{pageTitle}}</h1>

<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="isLoaded">
  <div *ngIf="event" class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [queryParams]="{tab: 'edit'}"
            [ngClass]="{'active': tabIs('edit')}">Edit</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [queryParams]="{tab: 'delete'}"
            [ngClass]="{'active': tabIs('delete')}">Delete</a>
        </li>
      </ul>
    </div>

    <div class="card-block">
      <!-- Edit event form -->
      <app-event-form
        *ngIf="tabIs('edit')"
        [event]="event"></app-event-form>

      <!-- Delete event -->
      <app-delete-event
        *ngIf="tabIs('delete')"
        [event]="event"></app-delete-event>
    </div>

  </div>

  <!-- Error loading event -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> Event data could not be retrieved. View <a routerLink="/admin" class="alert-link">Admin Events</a>.
  </p>
</ng-template>
