<div class="card-block">
  <h2 class="card-title text-center">RSVP</h2>
</div>

<!-- User has RSVPed -->
<div *ngIf="userRsvp">
  <p class="card-block lead">You have responded to this event with the following information:</p>

  <ul class="list-group list-group-flush" *ngIf="!showEditForm">
    <li class="list-group-item">
      <strong>Name:</strong>{{userRsvp.name}}
    </li>
    <li class="list-group-item">
      <strong>Attending:</strong>{{utils.booleanToText(userRsvp.attending)}}
    </li>
    <li *ngIf="userRsvp.attending" class="list-group-item">
      <strong>Guests:</strong>{{userRsvp.guests}}
    </li>
    <li *ngIf="userRsvp.comments" class="list-group-item">
      <strong>Comments:</strong><span [innerHTML]="userRsvp.comments"></span>
    </li>
  </ul>

  <div class="card-block">
    <button
      class="btn btn-info"
      [ngClass]="{'btn-info': !showEditForm, 'btn-warning': showEditForm}"
      (click)="toggleEditForm()">{{editBtnText}}</button>

    <app-rsvp-form
      *ngIf="showEditForm"
      [eventId]="eventId"
      [rsvp]="userRsvp"
      (submitRsvp)="onSubmitRsvp($event)"></app-rsvp-form>
  </div>
</div>

<!-- No RSVP yet -->
<div *ngIf="!userRsvp">
  <div class="card-block">
    <p class="lead">You have not RSVPed to this event yet. Fill out the form below to respond:</p>

    <app-rsvp-form [eventId]="eventId"></app-rsvp-form>
  </div>
</div>

<!-- Admins can see full list of all RSVPs -->
<div *ngIf="auth.isAdmin">
  <div class="card-block">
    <h3 class="card-title text-center">All RSVPs</h3>
    <p class="lead">Admins can view all RSVPs to this event.</p>
  </div>

  <ul class="list-group list-group-flush">
    <li
      *ngFor="let rsvp of rsvps"
      class="list-group-item"
      [ngClass]="{'list-group-item-success': rsvp.attending, 'list-group-item-danger': !rsvp.attending}">
      <p>
        <strong>{{rsvp.name}}</strong> - {{utils.booleanToText(rsvp.attending)}}<br>
        <span *ngIf="rsvp.attending">{{rsvp.guests}} guests</span>
        <span *ngIf="rsvp.comments">{{rsvp.comments}}</span>
      </p>
    </li>
  </ul>
</div>

<!-- Footer showing # of total attending guests -->
<div class="card-footer text-right">
  <small class="text-muted">{{utils.displayCount(this.totalAttending)}} attending this event so far.</small>
</div>
