<form (ngSubmit)="onSubmit()" #eventForm="ngForm" novalidate>
  <!-- Title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
      id="title"
      name="title"
      type="text"
      class="form-control"
      minlength="3"
      maxlength="24"
      #title="ngModel"
      [(ngModel)]="formEvent.title"
      required>
    <div
      *ngIf="title.errors && (title.dirty || title.touched)"
      class="small text-danger formErrors">
      <div [hidden]="!title.errors.required">
        Title is required.
      </div>
      <div [hidden]="!name.errors.minlength">
        Title must be 3 characters or more.
      </div>
      <div [hidden]="!name.errors.maxlength">
        Title must be 24 characters or less.
      </div>
    </div>
  </div>

  <!-- Location -->
  <div class="form-group">
    <label for="location">Location</label>
    <input
      id="location"
      name="location"
      type="text"
      class="form-control"
      minlength="3"
      maxlength="200"
      #location="ngModel"
      [(ngModel)]="formEvent.location"
      required>
    <div
      *ngIf="location.errors && (location.dirty || location.touched)"
      class="small text-danger formErrors">
      <div [hidden]="!location.errors.required">
        Location is required.
      </div>
      <div [hidden]="!location.errors.minlength">
        Location must be 3 characters or more.
      </div>
    </div>
  </div>

  <!-- Start date -->
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input
      id="startDate"
      name="startDate"
      type="text"
      class="form-control"
      maxlength="10"
      appDateField
      #startDate="ngModel"
      [(ngModel)]="formEvent.startDate"
      required>
    <div
      *ngIf="startDate.errors && (startDate.dirty || startDate.touched)"
      class="small text-danger formErrors">
      <div [hidden]="!startDate.errors.required">
        Start date is required.
      </div>
      <div [hidden]="!startDate.errors.date">
        Enter a <strong>valid</strong> date at least one day <strong>in the future</strong> using the format <strong>m/d/yyyy</strong>.
      </div>
    </div>
  </div>

  <!-- Start time -->
  <div *ngIf="startDate.valid" class="form-group">
    <label for="startTime">Start Time</label>
    <input
      id="startTime"
      name="startTime"
      type="text"
      class="form-control"
      maxlength="10"
      [pattern]="timeRegex"
      #startTime="ngModel"
      [(ngModel)]="formEvent.startTime"
      required>
    <div
      *ngIf="startTime.errors && (startTime.dirty || startTime.touched)"
      class="small text-danger formErrors">
      <div [hidden]="!startTime.errors.required">
        Start time is required.
      </div>
      <div [hidden]="!startTime.errors.pattern">
        Start time should be in the format <strong>H:MM AM/PM</strong>.
      </div>
    </div>
  </div>

  <!-- End date -->
  <div class="form-group">
    <label for="endDate">End Date</label>
    <input
      id="endDate"
      name="endDate"
      type="text"
      class="form-control"
      maxlength="10"
      appDateField
      #endDate="ngModel"
      [(ngModel)]="formEvent.endDate"
      required>
    <div
      *ngIf="endDate.errors && (endDate.dirty || endDate.touched)"
      class="small text-danger formErrors">
      <div [hidden]="!endDate.errors.required">
        End date is required.
      </div>
      <div [hidden]="!endDate.errors.date">
        Enter a <strong>valid</strong> date at least one day <strong>in the future</strong> using the format <strong>m/d/yyyy</strong>.
      </div>
    </div>
  </div>

  <!-- View Public -->
  <div class="form-group">
    <label class="label-inline-group">List event publicly?</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="viewPublic-yes"
          name="viewPublic"
          type="radio"
          class="form-check-input"
          [value]="true"
          [(ngModel)]="formEvent.viewPublic"
          required> Yes
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="viewPublic-no"
          name="viewPublic"
          type="radio"
          class="form-check-input"
          [value]="false"
          [(ngModel)]="formEvent.viewPublic"
          required> No
      </label>
    </div>
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      id="description"
      name="description"
      class="form-control"
      rows="3"
      #description="ngModel"
      maxlength="1000"
      [(ngModel)]="formEvent.description"></textarea>
  </div>

  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!eventForm.form.valid || submitting">{{submitBtnText}}</button>
    
    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting the event. Please try again.
    </p>
  </div>
</form>

