<form (ngSubmit)="onSubmit()" #rsvpForm="ngForm">
  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      class="form-control"
      [(ngModel)]="formRsvp.name"
      required>
  </div>

  <!-- Attending -->
  <div class="form-group">
    <label class="label-inline-group">Will you be attending?</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="attending"
          name="attending"
          type="radio"
          class="form-check-input"
          (change)="changeAttendanceSetGuests()"
          [value]="true"
          [(ngModel)]="formRsvp.attending"> Yes
        </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="attending"
          name="attending"
          type="radio"
          class="form-check-input"
          (change)="changeAttendanceSetGuests()"
          [value]="false"
          [(ngModel)]="formRsvp.attending"> No
        </label>
    </div>
  </div>

  <!-- Guests -->
  <div *ngIf="formRsvp.attending" class="form-group">
    <label for="guests">Guests Attending (including yourself):</label>
    <!-- @TODO: validation -->
    <input
      id="guests"
      name="guests"
      type="number"
      class="form-control"
      step="1"
      [min]="0"
      [max]="10"
      (change)="changeGuestsSetAttending()"
      [value]="1"
      [(ngModel)]="formRsvp.guests">
  </div>

  <!-- Comments -->
  <div class="form-group">
    <label for="comments">Comments:</label>
    <textarea
      id="comments"
      name="comments"
      class="form-control"
      rows="3"
      [(ngModel)]="formRsvp.comments"></textarea>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!rsvpForm.form.valid || submitting">Submit</button>
  </div>
</form>
